@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Test */
.testBtnContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 170px;
}

.testBtnContainer button,
.enterStudentContainer .inputText {
    background-color: #DBEAFF;
    width: 760px;
    height: 120px;
    border-radius: 15px;
    margin: 0 auto;

    font-family: 'NanumSquareNeo-Variable';
    font-weight: bold;
    color: #3373FF;
    font-size: 75px;
}

.testBtnContainer button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.enterStudentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 150px;
}


/* EnterStudent */
.enterStudentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 130px;
}

.enterStudentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.enterStudentBox .inputText {
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    text-indent: 20px;
}

.enterStudentBox .inputText::placeholder {
    color: #3373FF;
}

.privacyContainer {
    color: #3373FF;
    font-size: 35px;
    font-weight: bold;
    font-family: 'NanumSquareNeo-Variable';

    display: flex;
    align-items: center;
}

.testBtn {
    width: 400px;
    height: 100px;
    border-radius: 20px;

    background-color: #ABC5FF;
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.inputCheck {
    width: 32px;
    height: 32px;
}